<div class='row mt-5 justify-content-center'>
  <div class='col-lg-2 col-md-3 col-5'>
    <a href=<%= root_path %>><%= image_tag('logo_nav', class:'mt-3 w-100') %></a>
  </div>
</div>
<div class='row mt-4 justify-content-center'>
    <div class='card bg-light mt-5 px-sm-5 px-3 pt-5 pb-0 col-lg-4 col-md-6 col-10'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email,
                      required: false,
                      autofocus: true,
                      class: 'form-control',
                      autocomplete: "email",
                      placeholder: 'email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password,
                      required: false,
                      class: 'form-control',
                      autocomplete: "current-password",
                      placeholder:'password' %>
        </div>
        <div class="form-group">
          <%= f.check_box :remember_me,
                      as: :boolean,
                      class: 'mt-3' %>
          <%= f.label :remember_me, class: 'small text-secondary' %>
        </div>
      
        <div class="form-actions">
          <%= f.submit "login", class: 'btn btn-block btn-secondary mt-4' %>
        </div>
      <% end %>
    </div>
</div> 