<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p><strong>Nom : </strong><%= @last_name %></p>
  <p><strong>Prénom : </strong><%= @first_name %></p>
  <p><strong>Email : </strong><%= @email %></p>
  <p><strong>Tel : </strong><%= @tel %></p>
  <p><strong>Société : </strong><%= @cie %></p><br>
  <p><strong>Date limite : </strong><%= @date %></p><br>
  <p><strong>Message :</strong></p>
  <p style="white-space: pre-line;"><%= @message %></p>
</body>
</html>