<div class="container-fluid py-5" id='a_propos'>
  <div class="row row-fluid">
    <div class='col d-lg-flex d-none line'>
    </div>
    <div class='col-lg-auto'>
      <h1 class='mx-lg-4 text-dark mb-0 text-lg-left text-center'>à propos de moi</h1>
      <h2 class='mx-lg-4 text-secondary mt-0 text-lg-right text-center mb-0'>loic steinmetz</h2>
    </div>
  </div>
  <div class="row row-fluid pt-5">
    <div class='col-lg-1 d-flex flex-lg-column justify-content-center serv'>
      <a href='https://www.linkedin.com/in/loic-steinmetz/' target='_blank'><%= image_tag('linkedin') %></a>
      <a href='https://www.malt.fr/profile/loicsteinmetz' target='_blank'><%= image_tag('malt') %></a>
      <a href='https://github.com/B4va/' target='_blank'><%= image_tag('github') %></a>
    </div>
    <div class='col-lg-8 text-secondary d-flex flex-column justify-content-center'>
      <p class='m-0 pt-lg-0 pt-5 text-lg-left text-center'>
      <%= @contents[2].body %>
      </p>
    </div>
    <div class='col-lg-3 id pt-lg-0 pt-5 d-flex align-items-center justify-content-center'>
      <div><%= image_tag('photo', alt: 'Loïc STEINMETZ') %></div>
    </div>
  </div>
</div>