<div class="container-fluid" id='hero'>
  <div class="row py-5 row-fluid">
    <div class='col-lg-7 px-mt-5 d-flex justify-content-center flex-column'>
      <%= image_tag('responsive', alt: 'Responsive') %>
    </div>
    <div class='col-lg-5 px-md-5 d-flex justify-content-center flex-column text-lg-left text-center mt-lg-0 mt-4' id='hero-1'>
      <h1 class='text-dark'><%= @contents[0].title %></h1>
      <p class='text-secondary mt-3'>
      <%= @contents[0].body %>
      </p>
    </div>
  </div>
  <div class="row bg-light py-5 row-fluid" id='hero-2'>
    <div class='col-lg-5 px-md-5 d-flex justify-content-center flex-column text-lg-right text-center mt-lg-0 mt-5'>
      <h1 class='text-dark'><%= @contents[1].title %></h1>
      <p class='text-secondary mt-3'>
      <%= @contents[1].body %>
      </p>
    </div>
    <div class='col-lg-7 px-lg-5 d-flex justify-content-center flex-column'>
      <%= image_tag('workflow', alt: 'Workflow') %>
    </div>
  </div>
</div>