<div class="container" id='services'>
  <div class="row mt-5">
    <div class='col-lg-auto'>
      <h1 class='mr-lg-4 text-dark mb-0 text-lg-left text-center'>services</h1>
    </div>
    <div class='col d-lg-flex d-none line mr-4'>
    </div>
  </div>
</div>

<%= render 'portfolio_prev' %>

<div class='container'>
  <div class="card-deck py-5 flex-lg-row flex-column">
      <div class="card">
        <div class="card-header text-center bg-primary">
          <%= @contents[3].title %>
        </div>
        <div class="card-body p-sm-4">
          <p class="card-text text-secondary">
          <%= @contents[3].body %>
          </p>
        </div>
      </div>
      <div class="card mt-lg-0 mt-4">
        <div class="card-header text-center bg-danger">
          <%= @contents[4].title %>
        </div>
        <div class="card-body p-sm-4">
          <p class="card-text text-secondary">
          <%= @contents[4].body %>
          </p>
        </div>
      </div>
      <div class="card mt-lg-0 mt-4">
        <div class="card-header text-center bg-warning">
          <%= @contents[5].title %>
        </div>
        <div class="card-body p-sm-4">
          <p class="card-text text-secondary">
          <%= @contents[5].body %>
          </p>
        </div>
      </div>
  </div>
</div>