<!DOCTYPE html>
<html>
  <head>
    <title>DvpWebV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet"> 

  </head>

  <body>

  <%= render 'layouts/header' %>

  <div class='py-5' id='main'>
      <%= yield %>
  </div>
  
  </body>
</html>
